ENV_NAME=linkedin_games_ranking
SUBSCRIPTION_ID=

RG=
AKS_NAME=
ACA_NAME=
ACA_ENV_NAME=

DOCKERHUB_USERNAME=
DOCKERHUB_PASSWORD=
DOCKER_NETWORK=
SCALEWAY_HOST=
SCALEWAY_USER=root
SSH_KEY_FILE= # Leave empty if using default ssh key file (eg. id_ed25519)

DNS_ZONE_RG=
DNS_ZONE_NAME=

EMAIL=

INGRESS_NAMESPACE=ingress-nginx
CERT_MANAGER_NAMESPACE=cert-manager

DOMAIN=

SUPABASE_URL=
SUPABASE_KEY=
