# Virtualenv
.venv/

# Data
*chat*.txt
*.csv

# pycache
__pycache__/
__pycache__/linkedin_games_parser.cpython-311.pyc
__pycache__/linkedin_games_parser.cpython-312.pyc
*.pyc

# ruff cache
.ruff_cache/

# Supabase secrets
.streamlit/secrets.toml
